.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modalWrapper {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    
}

.title {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.body{
    padding: 5px 15px;
    text-align: center;
}

.footer{
    padding: 15px 25px;
}

.title button{
    min-width: 50px;
    min-height: 50px;
    border-radius: 4px;
    border: none;
    background: #141414;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 0%;

}

.footer button{
    width: 100%;
    min-height: 50px;
    border-radius: 4px;
    border: none;
    background: #141414;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

