.container{
  position: fixed;
  top: 20%;
  height: 60%;
  left: 10%;
  width: 80%;
}

.container button {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.button1 {
  min-width: 100px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: #141414;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}

.button2 {
  min-width: 100px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: #141414;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.button3 {
  min-width: 100px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: #141414;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button4 {
  min-width: 100px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: #141414;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.button5 {
  min-width: 100px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: #141414;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}